<div class="home-page">
<p class="home-page-header">Select an image</p>

<form method="POST" action="/" enctype="multipart/form-data">

  <div class="field home-page-image">
    {{!-- <label class="home-page-label">Image</label>  --}}
    <input type='file' name='image' class="inputfile" accept="image/*"/>
  </div>

  <div class="field-submit">
    <button class="add-image-home" type="submit">upload</button>
  </div>
</form>
</div>
