<div class="top-image">
    <img class="logo" src="/images/logo.png" alt="">
  </div>

<div class="home-page">
  
  {{!-- <p class="home-page-header">Select an image</p>--}}

<form method="POST" action="/" enctype="multipart/form-data" class="form">

  {{!--<div class="field home-page-image"> --}}
    {{!-- <label for=b1 class="home-page-label">Image</label>  --}}
    <input type='file' name='image' class="inputfile" accept="image/*" />
  {{!--</div>--}}

  <div class="field-submit">
    
    <button class="add-image-home" type="submit">identify</button>
  </div>
</form>
</div>
