<h1>Please select and image</h1>

<form method="POST" action="/" enctype="multipart/form-data">

  <div class="field">
    <label>Image</label>
    <input type='file' name='image' accept="image/*"/>
  </div>

  <div class="field submit">
    <button type="submit">create post</button>
  </div>
</form> 