<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,600i" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul class="nav-bar">
        <li class="nav-li"><a href="/">Upload</a></li>
        {{#unless currentUser}}
        <li class="nav-li"><a href="/auth/signup">Sign up</a></li>
        <li class="nav-li"><a href="/auth/login">Log in</a></li>
        {{else}}
        <li class="nav-li"><a href="/users">List of users</a></li>
        <li class="nav-li"><a href="/users/{{currentUser._id}}">My history</a></li>
        <li class="nav-li">
          <form action="/auth/logout" method="POST">
            <button class="logout-button" type="submit">Logout</button>
          </form>
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
