/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  
}

h1 {
  color: #363636;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

h2 {
  color: #363636
}

h3 {
  color: #363636
}

p {
  font-size: 30px;
  color: #363636;
  line-height: 1.8em;
}
p.sign-in-header{
  font-size: 2em;
  text-align: left;
  margin-bottom: 15%;
  font-weight: 500;
  color: #363636;
}

p.content{
  line-height: 1.8em;
  font-size: 1.2em;
}

p.new-post{
  font-size: 70px;
  font-weight: 500;
  margin-top: 20%;
  margin-bottom: 25%
}

p.home-page-header{
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  margin-top: 30%;

}


a{
  text-decoration: none;
  color: black;
}

/* ---- layout ---- */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-top: 0.4px solid #B2B2B2;
  width: 100vw;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  /*box-shadow: 0px -5px 15px rgb(192, 192, 192);*/
  
}


ul.flash{
  color: red;
  list-style: none;
  display: flex;
  font-size: 30px;
}


label.sign-log-label{
  font-size: 40px;
  padding-right: 20px;
}


ul.nav-bar{
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3%;
  
}

li{
  font-size: 1.5em;
}

li.nav-li{
  font-size: 0.8em;
  float: left;
  list-style-type: none;
  text-align: center;
  width: 16%;
}


/* ---- components ---- */

button.signup-button{
  font-size: 1em;
  padding: 4% 20% 4% 20%;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(#736cf5, #b46ddf);
  border: none;
  margin-top: 18%;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button.add-image-home{
  font-size: 0.8em;
  padding: 4% 20% 4% 20%;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color:#fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-color: #b46ddf;
}

button.logout-button{
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;

}

input.image-buton{
  font-size: 20px;
  border-color: rgb(212,212,216);
  border-radius: 30px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

input.sign-log-input{
  border-bottom-color: rgb(212,212,216);
  border-top: none;
  border-right: none;
  border-left: none;
  padding-right: 25%;
  padding-bottom: 4%;
  font-size: 1em;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
}

label{
  font-size: 30px;
  margin-right: 10px;
}

label.new-post-title{
  margin-bottom: 5%;
  font-size: 40px;
}

label.home-page-label{
  text-align: center;
}

input{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
  border-color: rgb(212,212,216);
}

input.title-newpost-input{
  border: none;
  border-bottom: 1px rgb(212,212,216);
  font-size: 30px;
  
}

textarea{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
  border-color: rgb(137, 137, 138);
  border-radius: 30px;
}

textarea.description-area{
  border: none;
  font-size: 30px;
}

.image-buton::-webkit-file-upload-button{
  font-size: 25px;
  border-radius: 1000px;
  border-color: #3A4454;
  background-color: transparent;
  color: #3A4454;
  margin-top: 5%;
}

.nav-buttons{
  width: 50%;
}

  .inputfile::-webkit-file-upload-button {
    
    display: none
  }

 .inputfile{
  border-color: rgb(212,212,216);
  max-width: 100%;
  margin: 0 auto;
  height: 300px;
  position: relative;
  
 }

  .inputfile::before{
    background: linear-gradient(#736cf5, #b46ddf);
    color: white;
    border-radius: 90%;
    box-shadow: 0 0 0 rgba(226, 237, 238, 1);
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    content: '+';
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    animation: pulse 2s infinite;
    margin: 15% auto;
    position: absolute;
    top: 60px;
    left: 50%;
    width: 140px;
    height: 140px;
    line-height: 140px;
    margin-left: -70px;
    text-align: center;
  }

  .inputfile:hover::before{
    background-color: #3A4454;
    box-shadow: 0 0 0 rgba(226, 237, 238, 1);
    color: #fff;
    transform: translateY(-10px);
    animation: none;
    
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(180, 109, 223, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(180, 109, 223, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(180, 109, 223, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(180, 109, 223, 0.4);
      box-shadow: 0 0 0 0 rgba(180, 109, 223, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(180, 109, 223, 0);
        box-shadow: 0 0 0 30px rgba(180, 109, 223, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(180, 109, 223, 0);
        box-shadow: 0 0 0 0 rgba(180, 109, 223, 0);
    }
  }

  button.add-friends-but{
    display: flex;
    float: right;
    font-size: 0.9em;
    border-radius: 10px;
    background-color: #e2ecee;
    float: right;
    height: 50px;
    width: 200px;
    text-align: center;
    position: relative;
    top: -10px;
    font-family: 'Montserrat', sans-serif;
  }

  img.upload{
    width: 15%;
    color: #244675;
    margin-top: 10%
  }

  img.logo{
    width: 70%;
    position: relative;
    margin-top: 7%;
  }

  img.img-nav-pages{
    width: 40%;
    margin-bottom: 1%
  }
/* ---- section ---- */


div.field{
  margin-bottom: 30px;
  width: 70%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
}


div.from-sign-in{
  height: 90%;
  width: 100%;
  position: fixed;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  margin-left: 18%;
}



div.new-post{
  width: 70%;
  height: 70%;
  margin: 0 auto;
  align-content: center;
}

div.description-block{
  display: inline-grid;
}

div.new-post-title{
  display: inline-grid;
  margin-bottom: 10%;
}

div.home-page{
  margin: 0 auto;
  width: 90%;
  text-align: center
}

div.home-page-image{
  justify-items: center;
  margin: 0 auto;
  
}

div.field-submit{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

div.add-photo-np{
  margin-top: 10%
}

div.container-description{
  margin: 0 auto;
  width: 85%
}





.input-users input{
  padding-left: 50px;
  width: 100%;
  font-size: 1em;
  outline: none;
  border: none;
  height: 20%;
  background-color: #e2edee;
  
}



.search-results ul{
  padding-left: 0;
}

.search-results li{
  list-style-type: none;
  padding: 50px;
  padding-bottom: 70px;
  border-bottom: solid 2px rgb(175, 172, 172);
}

.search-results a{
  font-size: 1.5em;
  float: left;
}

.top-image{
  background-color: #ffffff;
  /*box-shadow: 0px 5px 15px rgb(192, 192, 192);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  color: white;
}

.info-image{
  width: 90%;
}

div.nav-pages{
  background-color: #FAFAFA;
  border-bottom: 0.4px solid #B2B2B2;
  display: flex;
  align-items: center;
  justify-content: center;
}