<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/search.js"></script>

<div class="search">
    <label for="">Users:</label>
    <div>
        <div class="input-users">
            <input type="text">
        </div>
        <div class="search-results"> 
        </div>
    </div>
</div>

<h1>List of users</h1>

<ul>
    {{#each users}}
        <li><a href="/users/{{this._id}}">{{this.username}}</a></li>
    {{/each}}
</ul>