<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/search.js"></script>

<div class="nav-pages">
    <img class="img-nav-pages" src="/images/logo3.png" alt="" />
</div>
<div class="search">
    <div class="input-users">
        <input type="text" placeholder="Search for users..">
    </div>
    <div class="search-results"> </div>
</div>

<h1>Friends:</h1>
<ul>
{{#each friends}}
    <li><a href="/users/{{this.friendId}}">{{this.friendName}}</a><form action="/users/{{this.friendId}}/remove_friend" method="POST"><button type="submit"> Remove friend </button></form></li>
{{/each}}
</ul>
