<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/search.js"></script>

<div class="search">
    <div class="input-users">
        <input type="text" placeholder="Search for users..">
    </div>
    <div class="search-results"> </div>
</div>

<h1>Friends:</h1>
<ul>
{{#each friends}}
    <li>{{this}}</li>
{{/each}}
</ul>
