<h1>History</h1>

<ul>
    {{#each posts}}
        <li><a href="/post/{{this._id}}"><h1>{{this.title}}</h1></a></li>
    {{/each}}
</ul>

<form method="POST" action="/users/{{userId}}/add_friend">
    <button type="submit">Add friend</button>
</form>
