<h1>Edit comment</h1>

<form method="POST" action="/post/{{post.id}}/edit">

  <div class="field" >
    <label>Description</label>
    <textarea type="text" rows="5" cols="33" name="comment">{{post.comment}}</textarea>
  </div>

  <div class="field submit">
    <button type="submit">edit comment</button>
  </div>
</form>

{{#if messages.length}}
<ul class="flash">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}