<div class="new-post">

<form method="POST" action="/post/create" enctype="multipart/form-data">
  <p class="new-post">New post</p>
  <div class="field new-post-title" >
    <label class="new-post-title">Title</label>
    <input class ="title-newpost-input" type="text" name="title" placeholder="your title"/>
  </div>  

  <div class="field description-block" >
    <label class="new-post-title">Description</label>
    <textarea class="description-area" type="text" rows="5" cols="33" name="description" placeholder="add a description..."></textarea>
  </div>

  <div class="field">
    <label class="new-post-title">Image</label>
    <input class="image-buton" type='file' name='image' accept="image/*"/>
  </div>

  <div class="field-submit add-photo-np">
    <button class="signup-button" type="submit">create post</button>
  </div>

  {{#if messages.length}}
<ul class="flash">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}
</form>
</div>

